{% extends 'base.html' %}

{% block pages %}
<section id="bill" class="mh-80vh col m-auto">
        <form method="post" class="mxw-400 container w-90">
                {% csrf_token %}
                <b class="fs-3 f-col"> {{ formname }} </b>
                <hr class="mbt-3">

                {{ form.as_p }}

                <div class="row jc-sb mt-4">
                    <button type="submit" class="btn secondary fs-6 plr-3">Create <i class="ep-check"></i> </button>
                </div>  
        </form>
</section>
{% endblock pages %}