{% extends 'base.html' %}

{% block pages %}
<section id="profile_update" class="mt-3 row jc-sb fw-w">
    {% include 'includes/bg.html' %}
    
    <article class="overlay zi-2 col pos-fixed">
        <form method="post" enctype="multipart/form-data" class="mxw-400 right-in container plr-4">
                {% csrf_token %}
                <b class="fs-3 f-col"> {{ formname }} </b>
                <hr class="w-90 mt-3 mb-4">

                {{ form.as_p }}

                <div class="row jc-sb w-90 mt-4">
                    <button type="submit" class="btn secondary fs-6 plr-3">Submit</button>
                </div>  
        </form>
    </article>

</section>
{% endblock pages %}