{% extends 'base.html' %}

{% block pages %}
    <section id="Withdraw" class="mt-3 row jc-sb fw-w pos-relative mh-60vh">
        <article class="mxw-700 container bdrs row fw-w jc-sb p-0 plr-3 as-fs">
            <form method="post" class="mxw-400 right-in container plr-4">
                {% csrf_token %}
                <b class="fs-3 f-col"> 
                    Withdraw 
                </b>
                <hr class="w-90 mt-3 mb-4">
                
                <span class="o-8 pl-3 fs-7">
                   >  Eligibility : {{ balance }}
                </span>

                {{ form.as_p }}
                
                <span type="hidden" value="{{ balance }}" id="balance">
                <div id="post-div" class="row jc-sb w-90 mt-4 dp-none">
                    <button type="submit" class="btn secondary fs-6 plr-3 right-in">Submit</button>
                    <a href="{% url 'index_view' %}" class="f-col fs-7">Dashboard</a>
                </div>  
            </form>
        </article>
         
        <script>
            let btn = document.querySelector('#post-div'); 
            let input = document.querySelector('#id_amount'); 
            let user_balance = document.querySelector('#balance').value;

            input.addEventListener('input', () => {
                if ( input.value > user_balance || input.value < 100 ) {
                    btn.classList.add('dp-none')
                } else {
                    btn.classList.remove('dp-none')
                }
            });
        </script>
    </section>
{% endblock pages %}