<div>
    <div class="pos-absolute center bdrs-circle w-100 h-100 lg_dp-none mxw-300 mxh-300 bg-col drop-in"></div>
    <div class="pos-absolute center bdrs-circle w-100 h-100 lg_dp-none mxw-250 mxh-250 bg-col drop-in bx-sh"></div>
    <div class="pos-absolute center bdrs-circle w-100 h-100 lg_dp-none mxw-200 mxh-200 bg-col drop-in bx-sh"></div>

    <div class="pos-absolute center bdrs-circle w-100 h-100 mxw-400 mxh-400 dp-none lg_dp-flex bg-col drop-in"></div>
    <div class="pos-absolute center bdrs-circle w-100 h-100 mxw-350 mxh-350 dp-none lg_dp-flex bg-col drop-in bx-sh"></div>
    <div class="pos-absolute center bdrs-circle w-100 h-100 mxw-300 mxh-300 dp-none lg_dp-flex bg-col drop-in bx-sh"></div>
</div>