{% load static %}

<footer class="container mt-3 row fw-w fs-5">
    <hr>
    <div class="mlr-2 p-4 sm_w-100 sm_p-1"></div>
    <a href="{% url 'billCreate_view' %}" class="ep-cash-coin"> New Bill </a>
    <div class="mlr-2 p-4 sm_w-100 sm_p-1"></div>
    <a href="{% url 'login_view' %}" class="ep-person">Login | Sign-Up </a>
    <div class="mlr-2 p-4 sm_w-100 sm_p-1"></div>
    <a href="{% url 'agreement_view' %}" class="ep-people"> Agreements </a>
    <div class="mlr-2 p-4 sm_w-100 sm_dp-none"></div>
    <br>
    <div class="gap"></div>
    <a href="https://www.linkedin.com/company/billmink/" class="ep-linkedin btn secondary"> Linked In</a>
    <div class="gap"></div>
    <p class="fs-6">&copy; 2023 Billmink. All rights reserved.</p>
</footer>
