{% load static %}

<link rel="stylesheet" href="{% static 'Packages/anim.css' %}">
<link rel="stylesheet" href="{% static 'Packages/classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/colour.css' %}">
<link rel="stylesheet" href="{% static 'Packages/epic.css' %}">
<link rel="stylesheet" href="{% static 'Packages/font.css' %}">
<link rel="stylesheet" href="{% static 'Packages/icon.css' %}">
<link rel="stylesheet" href="{% static 'Packages/lg_classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/md_classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/sm_classes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/sizes.css' %}">
<link rel="stylesheet" href="{% static 'Packages/style.css' %}">
<script src="{% static 'Packages/epic.js' %}"></script>


<style>
  * {
    list-style: none;
  }
h1 {
font-size: 36px;
font-weight: bold;
margin-bottom: 20px;
}
h2 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}
#photo-clear_id {
display: none;
}
label {
font-size: 90%;
display: block;
}
form ul li {
font-size: 60%;
width: 85%;
opacity: 0.8;
color: var(--gray);
}
form p span.helptext {
padding-left: 25px;
display: none;
}
form * {
color: var(--white);
letter-spacing: 1.1px;
}
form ul.errorlist li {
color: var(--red);
font-size: 0.7rem;
}
form .errorlist {
background-color: #fff;
border-radius: 2px;
width: 90%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 0.5em;
}
form option {
color: black !important;
}
form p textarea,
form p select {
width: 100%;
}
form p textarea,
input {
width: 100%;
border-radius: 3px;
border: 2px solid;
box-shadow: none;
padding: 0.5rem;
}
input:placeholder-shown {
font-size: 70%;
}
.main_illustration {
transform: rotate(-1deg);
}
.bg-light {
    background: hsl(159, 84%, 80%);
}
.f-light {
    color: hsl(159, 84%, 80%);
}
.epic_f-inherit * {
    color: inherit !important;
}

*::-webkit-scrollbar {
  width: 0.15rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  display: none;
}

.left-center {
  left: 0 !important; top: 50%; transform: translateY(-50%);
}

.right-center {
  right: 0 !important; top: 50%; transform: translateY(-50%);
}
</style>
