{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Billmink {% block title %} ~ Making payments simple {% endblock title %} </title>
    
    {% include 'includes/style.html' %}

    <link rel="shortcut icon" href='{% static "./images/billmink-logo.png" %}' type="image/x-icon">
</head>

<body class="dark-mode bg-dark-blue pos-relative" id="body">
    <article style="background-image: radial-gradient(var(--gray) 1.25px, transparent 1.25px), radial-gradient(var(--gray) 1.25px, var(--dark-blue) 1.25px); background-size: 50px 50px; background-position: 0 0 , 25px 25px;" class="pos-absolute w-100 h-100 o-1 epic_to-back"></article>

    <!-- Header -->
    <header style="transform: translateY(-15px);" class="epic_header epic_f-inherit sm_w-100 h-calc">
        <a href="{% url 'index_view' %}" class="epic_logo fs-3 sm_fs-5 zi-100 row">
            <img src='{% static "./images/billmink-text-logo.svg" %}' alt="." height="80px" style="translate: -15px;">
        </a>
        <nav aria-label="." class="epic_nav mxw-400 zi-100 sm_mh-100vh sm_w-100">
            <a href="{% url 'campaign_list_view' %}" class="bio_link zi-100"> <i class="ep-person-hearts"></i> Campaigns </a>
            <a href="{% url 'agreement_view' %}" class="bio_link zi-100"> <i class="ep-book-fill"></i> Agreements </a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="bio_link zi-100 md_o-8"> <i class="ep-lock-fill"></i> Logout </a>
            {% else %}
            <a href="{% url 'about_view' %}" class="bio_link zi-100"> <i class="ep-people-fill"></i> About </a>
            {% endif %}
            <div class="epic_close-nav hover_secondary-alt zi-100">Close</div>
        </nav>
        
        <div class="row">
            <div class="epic_menu-btn hover_fill-col">
                <svg xmlns="http://www.w3.org/2000/svg" class="menu-icon fill-white" width="25" height="30" viewBox="0 0 16 16">
                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg> 
            </div>

            <div class="">
            {% if user.is_authenticated %}
                <a href="{% url 'bill_create_view' %}" class="btn secondary bdrs-pill lg_plr-3 hover_secondary-alt"> New Bill </a>
            {% else %}
                <a href="{% url 'login_view' %}" class="btn secondary bdrs-pill lg_plr-3 hover_secondary-alt"> Login </a>
            {% endif %}

            </div>
        </div> 
    </header>

    {% block pages %}{% endblock pages %}
</body>
</html>