{% extends 'base.html' %}

{% block pages %}
    <section id="login" class="mh-80vh col m-auto">
        <form method="post" class="mxw-400 container">
            {% csrf_token %}
            <b class="fs-1 f-col bolder"> Welcome Back </b>
            {% if form.errors %}
                <br>
                {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                    <div class="btn bg-white w-90 p-2 fs-7 f-red">
                        • {{ error }} 
                        <br>
                    </div>
                {% endfor %}
                {% endfor %}
            {% endif %}

            <hr class="f-col o-2 mt-0 mb-4">

            <p>
                <label for="id_username">Phone Number:</label>
                <input type="number" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="12" required id="id_username">
            </p>
            
            <p>
                <label for="id_password">Password:</label>
                <input type="password" name="password" autocomplete="current-password" required id="id_password">
            </p>

            <div class="row jc-sb mt-4">
                <button type="submit" class="btn secondary fs-6 plr-3">Submit</button>
                <a href="{% url 'register_view' %}" class="f-col bold">New Account</a>
            </div>  
        </form>
    </section>
{% endblock pages %}