{% extends 'base.html' %}

{% block pages %}
<section id="register" class="mt-3 row jc-sb fw-w">
    {% include 'includes/bg.html' %}
    
    <article style="z-index: 104 !important;" class="overlay zi-2 col pos-fixed">

        <!-- <div id='QueryForm'  class="mxw-400 container plr-4">
            <b class="fs-3 f-col"> Select Country </b>
            <hr class="w-90 mt-3 mb-4">

            <select name="." id="countries" class="w-250px fs-5 outline-0">
                <option class="f-black" value="no">America</option>
                <option class="f-black" value="Yes">Nigeria</option>
                <option class="f-black" value="no">Canada</option>
                <option class="f-black" value="no">India</option>
                <option class="f-black" value="no">German</option>
                <option class="f-black" value="no">England</option>
                <option class="f-black" value="no">Ghana</option>
            </select>

            <div class="row jc-sb w-90 mt-4">
                <button id='validateCountry' class="btn secondary fs-6 plr-3 w-150px">Next</button>
            </div>  
        </div> -->

        <div id='registerForm' class='right-in'>
            <form method="post" class="mxw-400 container plr-4">
                {% csrf_token %}
                <b class="fs-3 f-col"> Create Account </b>
                <hr class="w-90 mt-3 mb-4">
                
                {{ form.as_p }}
                <hr>
                {{ form_2.as_p }}

                <div class="row jc-sb w-90 mt-4">
                    <button type="submit" class="btn secondary fs-6 plr-3">Submit</button>
                    <a href="{% url 'login_view' %}" class="f-col fs-7">Login Here</a>
                </div>  
            </form>
        </div>

        <!-- <main id="errorForm" class="mxw-400 container p-3 dp-none bg-white bdrs m-auto col up-in anim_d-3">
            <div class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="fill-red ep-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>
            </div>

            <h1 class="f-red fs-1"> UNKNOWN ERROR </h1>
            <p class="plr-2 p-1 mt-0 f-red ta-c">
            Can't create an account this instance, server error 400 Try again in a day or two. Our engineers are working on it.
            </p>
            <div class="row jc-sa container">
                <a href="{% url 'index_view' %}" class="btn primary"> Home </a>
            </div>
        </main> -->

        <!-- <script>
            let countries = document.querySelector('#countries');
            let errorForm = document.querySelector('#errorForm');
            let QueryForm = document.querySelector('#QueryForm');
            let registerForm = document.querySelector('#registerForm');
            let validateCountry = document.querySelector('#validateCountry');

            validateCountry.addEventListener('click', () => {
                if (countries.value == 'Yes') {
                    QueryForm.classList.add('dp-none')
                    registerForm.classList.remove('dp-none')
                } else {
                    QueryForm.classList.add('dp-none')
                    errorForm.classList.remove('dp-none')
                }
            })

            QueryForm.classList.add('dp-none')
            registerForm.classList.remove('dp-none')
        </script> -->
    </article>

</section>
{% endblock pages %}