{% extends 'base.html' %}

{% block pages %}
<section id="register" class="mt-3 row jc-sb fw-w m-auto oy-scroll">
    {% include 'includes/bg.html' %}
    
    <article class="overlay col pos-fixed oy-scroll mh-600 zi-100"></article>

    <div id='registerForm' class="zi-100 m-auto">
        <form method="post" class="mxw-400 container plr-4">
            {% csrf_token %}
            <b class="fs-3 f-col"> Create Account </b>
            
            {% if form.errors %}
                <br>
                {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                    <div class="btn bg-white w-90 p-2 fs-7 f-red">
                        • {{ error }} 
                        <br>
                    </div>
                {% endfor %}
                {% endfor %}
            {% endif %}
            <hr class="w-90 mbt-2">
            
            {{ form.as_p }}
            {{ form_2.as_p }}

            <div class="row jc-sb w-90">
                <button type="submit" class="btn secondary fs-6 plr-3"> Submit </button>
                <a href="{% url 'login_view' %}" class="f-col fs-7">Login Here</a>
            </div>  
        </form>
    </div>

</section>
{% endblock %}
