{% extends 'base.html' %}
{% load static %}

{% block pages %}
    <section id="dashboard" class="mt-3 row jc-sb fw-w pos-relative mh-60vh m-auto lg_w-70">

        <div id="profile-rack" class="col container mxw-300 bdrs pb-4 as-fs plr-3">            
            <div class="row jc-sb w-100">
                <div class="w-50px h-50px bdrs-circle bg-col mr-2 as-fe bd-2-col">
                    <img src="{{ user.profile.image.url }}" alt="img">
                </div>
                <span class="fw-br ta-c fs-6"> {{ user.profile.firstname }} </span>
                <a 
                href="{% url 'profileUpdate_view' user.profile.id %}"  class="ep-pencil-fill fs-5 mb-0"></a>
            </div>
            <div class="gap"></div>
            <div class="card container col secondary" id="profile_card">

                <div class="w-100">
                    <div class="fs-7 m-0 p-0 row jc-sb w-60"> <span> Transaction History </span> <span class="ep-eye fs-6 mr-4"></span> </div>
                    <p class="fs-4 bolder pt-0 mt-0"> ₦ {{ user.profile.account_balance }} </p>
                </div>
                
                <div class="row jc-sb w-100 fs-6 mt-2">
                    <a href="{% url 'billCreate_view' %}" class="col fs-7">
                        <span class="fs-5 btn secondary-alt ep-arrow-down-left-circle"></span>
                            New Bill 
                    </a>

                    <a href="{% url 'withdraw_view' %}" class="col fs-7">
                        <span class="fs-5 btn secondary-alt ep-arrow-up-right-circle"></span>
                            Withdraw 
                    </a>

                    <a href="{% url 'activity_view' %}" class="col fs-7">
                        <span class="fs-5 btn secondary-alt ep-person"></span>
                        History 
                    </a>                        
                </div>
            </div>
        </div>

        {% include 'dashboard/dashboard_2.html' %}
        {% include 'dashboard/dashboard_js.html' %}
    </section>
{% endblock pages %}